@import url('/assets/css/global.css');

.modal{
    position: fixed;
    z-index: 10;
    box-sizing: border-box;
    width: 80%;
    max-height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 50vh;
    background-color: var(--branco);
    transform: translateY(-25%);
    padding: 1rem;
    border: 1px solid var(--cinza3);
    box-shadow: 4px 4px 8px #0002;
    border-radius: 10px;
    opacity: 0;
    transition: all 200ms ease-out;
    pointer-events: none;
    overflow-y: scroll;
}


.modal.visible{
    opacity: 1;
    transform: translateY(-50%);
    pointer-events: initial;
}

.modal__header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0001;  
    padding-bottom: .5rem;
}

.modal__header h2{
    color: var(--azul);
    font-size: 1.5rem;
    font-weight: 400;
}

button.fechar-modal{
    cursor: pointer;
    padding: .5rem 2rem;
    color: var(--branco);
    background-color: #8a0000;
    border-radius: .5rem;
}

button.enviar-modal{
    cursor: pointer;
    padding: .5rem 2rem;
    color: var(--branco);
    background-color: #007523;
    border-radius: .5rem;
    margin-right: 2rem;
}

span.fechar-modal{
    cursor: pointer;
    font-size: 1.5rem;
}


.modal__corpo{
    padding: 1em 0;
    
}

.modal__rodape{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #0001;
    padding-top: 0.75em;
}

#mascara {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    pointer-events: none;
}

.modal.visible~#mascara{
    opacity: 0.8;
    pointer-events: initial;
}

.input-padrao{
    padding: .5rem;
    border: 1px solid var(--cinza2);
    border-radius: 5px;
}

.modal__corpo form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

form div{
    display: flex;
    flex-direction: column;
}

form div input{
    margin-bottom: 1rem;
}


@media screen and (max-width: 768px){
    form div{
        margin-bottom: 2rem;
    }
}